<!DOCTYPE html>
<html>
<head>
  <title>Angular 17 SSR and i18n with Partytown Example</title>
</head>
<body>
<h1>Angular 17 SSR and i18n with Partytown Example</h1>
<p>This project serves as an example to showcase the integration of Angular 17 with Server-Side Rendering (SSR),
  internationalization (i18n), and the Partytown library for executing third-party scripts in web workers.</p>

<h2>Features</h2>
<ul>
  <li><strong>Angular 17</strong>: Utilizes the latest features and best practices of Angular 17.</li>
  <li><strong>Server-Side Rendering (SSR)</strong>: Enhances performance and SEO by pre-rendering pages on the server.
  </li>
  <li><strong>Internationalization (i18n)</strong>: Supports multiple languages for a global audience.</li>
  <li><strong>Partytown Integration</strong>: Optimizes third-party script execution to improve website loading times.
  </li>
  <li><strong>Google Tag Assistant Debuging</strong>: It also works with the tagassistant.google.com debug assistant.
  </li>
</ul>

</body>
</html>


<router-outlet></router-outlet>
